// //------------------------------
// //--------- media--floatRight  --MEDIA WALL
// //-----------------------------

//Third HP media block with teasers lean on right side

&.media--floatRight {
	margin-bottom: 6rem;
    @extend .wrapUp;
    @include breakpoint(tablet) {
    	padding-top: 6rem;
    	margin-bottom: 11.5rem;	
    }
	.mediaWall__title {
		top: 9rem;
		left: 8rem;
		@include breakpoint(tablet) {
			top: 8.5rem;
    		left: 5rem;
		}
	}
	.column--left {
		position: relative;
		left: 8rem;
		margin-top: 21rem;
		@include breakpoint(tablet) {
			left: 0;
			margin-top: 10rem;
		}
	}
	.column--right {
		padding-left: 9rem;
		@include breakpoint(tablet) {
			padding-left: 1rem;
		}
	}

	.teaserNarrow--middle {
		margin-right: 2.3rem;
		@include breakpoint(tablet) {
			margin-right: 1.2rem;
		}
	}
	.teaserPlain {
		@include breakpoint(tablet) {
			margin-bottom: 4rem;
		}
	}
	.teaserWide {
		@include breakpoint(tablet) {
			margin-bottom: 6rem;
		}
	}
}