// //------------------------------
// //--------- media--faq  -- MEDIA WALL
// //-----------------------------

 // HP faq slider with white smoke background

 &.media--faq {

 	.mediaWall__title {
 		top: -2rem;
 	}
 	.whiteSmoke-bg {
 		position: relative;
 		height: 39.5rem;
 		margin-right: 8rem;
 		overflow: visible;
 	}
 }
