// //------------------------------
// //--------- media--steps  --MEDIA WALL
// //-----------------------------

 //first HP media block 
 
&.media--steps { 
	.teaserNarrow {
		margin-top: 22.6rem;
		margin-right: 2.3rem; 
	}
	.teaserWide {
		margin-left: 0.6rem;
		margin-bottom: 3rem;
	}
	.teaserRight {
		margin-left: 0.6rem;
	}
}