// //------------------------------
// //--------- MEDIA WALL
// //-----------------------------

.mediaWall {
	position: relative;
	padding-top: 7.6rem;
	clear: both;
	text-align: center;

	&__column {
		@extend .column;
	}
	.column--left {
		margin-top: 16.5rem;
	}

	article {
		float: left;
		margin-bottom: 7.7rem;
	}

	.whiteSmoke-bg {
		height: auto;
		overflow: hidden;
		background-color: $c-whiteSmoke;
	}

	&__title {
		position: absolute;
		top: 24rem;
		width: 20%;
		font-size: 3rem;
		text-transform: uppercase;
		.style {
			text-transform: initial;
		}
		.strong {
			font-size: 3.2rem;
		}
	}

	.btn {

	}

	@import "media--steps";
	@import "media--wide";
	@import "media--floatRight";
	@import "media--faq";
	@import "media--business";
}

