// //------------------------------
// //--------- MEDIA WALL
// //-----------------------------

.mediaWall {
	position: relative;
	clear: both;
	text-align: center;

	&__column {
		@extend .column;
	}
	.column--left {
		margin-top: 16.5rem;
		@include breakpoint(tablet) {
			margin-top: 8.7rem;
		}
	}

	article {
		float: left;
		margin-bottom: 7.7rem;
		cursor: pointer;
		@include breakpoint(tablet) {
			margin-bottom: 2rem;
		}
		&:hover {
			@include breakpoint(exeptGadgets) {
				@include transition (all 0.5 ease-in-out);
				.teaser__imgWrapper {
					top: -1.5rem;
					
				}
			}
		}
	}

	.whiteSmoke-bg {
		height: auto;
		overflow: hidden;
		background-color: $c-whiteSmoke;
	}

	&__title {
		position: absolute;
		top: 24rem;
		width: 20%;
		font-size: 3rem;
		text-align: left;
		text-transform: uppercase;
		@include breakpoint(tablet) {
			top: 9rem;
			font-size: 2rem;
		}
		@include breakpoint(mobile) {
			width: 30%;
			top: 6.5rem;
			font-size: 4rem;
		} 
		.style {
			text-transform: initial;
			@include breakpoint(mobile) {
				font-size: 5rem;
			}
		}
		.strong {
			font-size: 3.2rem;
			@include breakpoint(tablet) {
				font-size: 2rem;
			}
			@include breakpoint(mobile) {
				font-size: 4.5rem;
			} 
		}
	}

	.btn {

	}

	@import "media--steps";
	@import "media--wide";
	@import "media--floatRight";
	@import "media--faq";
	@import "media--business";
}

