// //------------------------------
// //--------- media--wide  -- MEDIA WALL
// //-----------------------------

 //second HP media block with white-smoke background

 &.media--wide {
 	padding-top: 0;
 	.whiteSmoke-bg {
 		padding: 10rem 0 13.8rem;
    	overflow: hidden;
    	@include breakpoint(tablet) {
    		padding: 5rem 0 10rem;
    	}
 	}

	.teaserPlain {
		float: right;
		margin-top: -7rem;
		margin-right: 2.3rem;
		@include breakpoint(tablet) {
			margin-top: -6rem;
			margin-right: 1.2rem;
		}
		&:nth-of-type(1) {
			margin-right: 8rem;
			@include breakpoint(tablet) {
				margin-right: 4rem;
			}
		}
	}

 	.mediaWall__title {
 		top: 5rem;
    	width: auto;
    	@include breakpoint(tablet) {
    		top: 3rem;
    	}
 	}
 } 