// //------------------------------
// //--------- media--floatRight  --MEDIA WALL
// //-----------------------------

//Third HP media block with teasers lean on right side

&.media--floatRight {
	margin-bottom: 6rem;
    @include breakpoint(tablet) {
    	padding-top: 6rem;
    	margin-bottom: 11.5rem;	
    }
    @include breakpoint(mobile) {
    	padding-top: 11rem;	
    	margin-bottom: 4.5rem;
    }
	.mediaWall__title {
		top: 9rem;
		left: 8rem;
		@include breakpoint(tablet) {
			top: 8.5rem;
    		left: 5rem;
		}
		@include breakpoint(mobile) {
			top: 7.5rem;
			left: 3.5rem;
		}
	}
	article {
		margin-bottom: 2rem;
	}
	.column--left {
		position: relative;
		left: 8rem;
		margin-top: 21rem;
		@include breakpoint(tablet) {
			left: 0;
			margin-top: 10rem;
		}
		@include breakpoint(mobile) {
			margin-bottom: 0;
			margin-bottom: 5rem;
		}
		&:nth-of-type(3) {
			clear: both;
			margin-top: 0rem;
			.teaserPlain {
				float: right;
				margin-top: -8rem;
				margin-right: 1.8rem;
				@include breakpoint(tablet) {
					margin-right: 0.6rem;
				}
			}
		}
		&.second-level {
			@include breakpoint(mobile) {
				float: left;
				width: 50%;
			}
			.teaserPlain {
				@include breakpoint(mobile) {
					margin-top: 0;
				}
			}
		}
	}
	.column--right {
		padding-left: 9rem;
		@include breakpoint(tablet) {
			padding-left: 0.8rem;
		}
		@include breakpoint(mobile) {
			padding-left: 0;
		}
		.teaserNarrow--middle {
			margin-top: -8rem;
		}
		&.second-level {
			@include breakpoint(mobile) {
				width: 50%;
			}
			.teaserNarrow--middle {
				@include breakpoint(mobile) {
					margin-top: 0;
					margin-left: 0.8rem;
				}
			}
		
		}
	}

	.teaserNarrow--middle {
		margin-right: 2.3rem;
		
		@include breakpoint(tablet) {
			margin-right: 1.2rem;
		}
		@include breakpoint(mobile) {
			margin-right: 1.5rem;
		}
	}
	.teaserPlain {
		@include breakpoint(tablet) {
			margin-bottom: 4rem;
		}
	}
	.teaserWide {
		@include breakpoint(tablet) {
			margin-bottom: 6rem;
		}
		@include breakpoint(mobile) {
			margin-bottom: 7rem;
		}
		.teaser__introBox {
			min-height: auto;
		}
	}
}