//-------------------------
//------------------HELPERS
//-------------------------
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%invisible {
    width      : 1px;
    height     : 1px;

    position   : absolute;
    left       : 0;

    text-indent: -5000px;

    overflow   : hidden;
}

.noScroll {
	overflow: hidden;
}

.clear           { clear: both; }

.hide            { display: none; }
.block           { display: block; }
.inline-block    { display: inline-block; }

.fleft           { float: left; }
.fright          { float: right; }


.icon-twitter:before { content: '\e800'; } /* '' */
.icon-chat-alt:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
