//-------------------------
//----------------VARIABLES
//-------------------------

//-----COLORS
$c-black           : #000;
$c-white           : #fff;
$c-whiteWhisper    : #ececec;
$c-whiteSmoke      : #f6f6f6;
$c-lightGrey       : #8b8b8b;
$c-easyGrey        : #d0d0d0;
$c-mediumGray      : #7e7e7e;
$c-darkGrey        : #404040;
$c-softGrey        : #A4A4A4;
$c-yellow          : #ffcc33;


//-----PATHS
$fontBaseUrl  : "http://static1.webedia.fr/fonts/";
$localFontBase: "/fonts/";
$imgBaseUrl   : "/images/";


//------DIMENSIONS
$baseFontSize: 10;
$fullWidth: 100%;
$fullHeight: 100%;

//------FONT
$fontDefault     : Arial, Helvetica, Tahoma, sans-serif;
$baseFont: 'Lato-Regular', $fontDefault;
$baseFont--Bold: 'Lato-Bold';
$baseFont--Black: 'Lato-Black';
$styleFont--airways: 'Airways';



//------MEDIA QUERIES
$desktop--Large  : 1700px;
$desktop         : 1440px;
$tablet          : 1023px;
$mobile			 : 767px;

