//- HEADER

header.header
  ul.header__social
    li
      i.fontelloIcon.icon-facebook &#xf30c;
    li
      i.fontelloIcon.icon-youtube-play &#xf16a;
  span.header__btnMenu
    img.openBtn(src='images/menuHam.png', alt='hamBtn')
    img.closeBtn(src='images/closeBtn.png', alt='closeBtn')
  // navigation
  ul.header__navigation
    li.menu
      span
        i.fontelloIcon.down-open &#xe805;
        | My business
    li.menu
      span
        i.fontelloIcon.down-open &#xe805;
        | My van
      nav.navigation__submenu
        .submenu__column
          ul.submenu__row
            li Choose my van
            li Customize my van
            li Finance my van
        .submenu__column
          ul.submenu__row
            li Legal questions
            li Quiz
        .submenu__column--wide
          .topArticles
            h2
              | Top
              span.style articles
            article.topArticles__teaser
              img(src='images/toparticles/toparticles.jpeg', alt='')
              h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            article.topArticles__teaser
              img(src='images/toparticles/toparticles2.jpeg', alt='')
              h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            article.topArticles__teaser
              img(src='images/toparticles/toparticles3.jpeg', alt='')
              h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
            article.topArticles__teaser
              img(src='images/toparticles/toparticles4.jpeg', alt='')
              h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    li.menu
      span
        i.fontelloIcon.down-open &#xe805;
        | Faq
      ul.navigation__submenu
    li.menu
      span
        i.fontelloIcon.down-open &#xe805;
        | We, the vans driver
      ul.navigation__submenu
    li.menu
      span
        i.fontelloIcon.down-open &#xe805;
        | What's new
      ul.navigation__submenu
    li.menu
      span
        i.fontelloIcon.down-open &#xe805;
        | Videos
      ul.navigation__submenu
    li.social
      ul.header__social--devices
        li
          i.fontelloIcon.icon-facebook &#xf30c;
        li
          i.fontelloIcon.icon-youtube-play &#xf16a;
  // navigation
  h1.header__logo
    img(src='images/renaultLogo.png', alt='siteLogo')
  h1.header__logo--tablet
    img(src='images/deviceLogo.png', alt='siteLogo')
  h1.header__logo--mobile
    img(src='images/mobileLogo.png', alt='siteLogo')
  span.header__search
    img(src='images/loupeSearch.png', alt='searchLope')
.header-holder
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1700 65')
.header__navigation__curtain