// //------------------------------
// //---------TEASER INTRO BOX
// //-----------------------------

.teaser__introBox {
	position: relative;
	padding-top: 3.3rem;
	// overflow: hidden;
	.teaser {
		&__title {
			margin-bottom: 2.5rem;
			font-family: $baseFont--Black;
			font-size: 1.8rem;
			line-height: 1.4;
		}
		&__text {
			font-family: $baseFont;
			font-size: 1.4rem;
			line-height: 1.2;
			color: $c-mediumGray; 
			
		}
	}
}