// //------------------------------
// //---------TEASER INTRO BOX
// //-----------------------------

.teaser__introBox {
	position: relative;
	padding-top: 3.3rem;
	min-height: 20rem;
	text-align: left;
	@include breakpoint(tablet) {
		min-height: auto;
		padding-top: 1.2rem;
	}
}

.teaser {
	&__title {
		margin-bottom: 2.5rem;
		font-family: $baseFont--Black;
		font-size: 1.8rem;
		line-height: 1.4;
		@include breakpoint(tablet) {
			font-size: 1.4rem;
		}
	}
	&__text {
		font-family: $baseFont;
		font-size: 1.4rem;
		line-height: 1.3;
		color: $c-mediumGray; 
		@include breakpoint(tablet) {
			display: none;
		}
	}
}