// //------------------------------
// //--------- SLIDER NAVIGATION
// //-----------------------------

.slider__navigation {
	position: absolute;
	top: 6.5rem;
	right: 5rem;	
	
}

.slider__arrows {
	vertical-align: middle;
	cursor: pointer;
	
}

.slideInfo {
	font-family: $baseFont--Bold;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
	color: $c-darkGrey;
	display: inline-block;
	&-current {
		color: $c-yellow;
	}
	@include breakpoint(mobile) {
		font-size: 2.5rem;
	}
}

.btn-prev {
	margin-right: 0.5rem;
	@include breakpoint(mobile) {
		margin-right: 1.5rem;
	}	
}
.btn-next {
	margin-left: 0.5rem;
	@include breakpoint(mobile) {
		margin-left: 1.5rem;
	}	
}