// //------------------------------
// //--------- ARTICLE DIAPORAMA
// //-----------------------------
.articleDiaporama {
	position: relative;
	&__nav {
		position: absolute;
		bottom: 6.2rem;
		width: 43%;
		height: 8.1rem;
		left: 29%;
		@include breakpoint(tablet) {
			width: 100%;
			left: 0;
			bottom: 40%;
		}
		@include breakpoint(mobile) {
			bottom: 36%;
		}
		.slick-list {
			padding: 0!important;
		}
		.slick-track {
			position: relative;
			left: 16.5rem;
		}
	}
	.diaporama__thumbnails {
		width: 85%;
		margin: 0 auto;
		height: 8.1rem;
		overflow: hidden;
		@include breakpoint(tablet) {
			display: none;
		}
		.slick-current {
			border: 0.3rem solid $c-yellow;
		}

		.thumbNail {
			width: 10rem!important;
			height: 8.1rem;
			margin-right: 2rem;
		}
	}
	.slideBloc {
		img {
			width: 100%;
		}
	}
	.diaporama__arrows {
		@extend .hpViewer__arrows;
		width: 3rem;
		height: 3rem;
		border-radius: 3rem;
		@include breakpoint(mobile) {
			display: block!important;
			width: 5rem;
		    height: 5rem;
		    border-radius: 5rem;
		}
		.fontelloIcon {
			top: 29%;
			font-size: 1.5rem;
			@include breakpoint(mobile) {
			    font-size: 2rem;
			}
		}
		&.diaporama-next {
			right: 0;
			@include breakpoint(tablet) {
				right: 2.25rem;
			}
		}
		&.diaporama-prev {
			left: 0;
			@include breakpoint(tablet) {
				left: 2.5rem;
			}
		}
	}

 
}