// //------------------------------
// //---------- FAQ SLIDER
// //-----------------------------

.faqSlider {
	position: relative;
	top: -9.2rem;
	width: 76%;
	float: right;
	margin-right: 5rem;
	@include breakpoint(tablet) {
		top: -6rem;
		width: 75%;
		margin-right: 4rem;
	}
	@include breakpoint(mobile) {
		top: -14rem;
		width: 56rem;
		margin: 0 auto;
		float: none;
	}
	.slideBloc {
		height: auto;
		.teaser__imgWrapper {
			width: 49.2rem;
			float: left;
			margin-right: 2.5rem;
			@include vendor-prefixes(box-shadow, 0px 42px 54px -20px rgba(64,64,64,0.7));
			@include breakpoint(tablet) {
				width: 27.6rem;
			}
			@include breakpoint(mobile) {
				width: 100%;
				float: none;
			}
			img {
				width: 100%;
			}
		}
		.teaser__introBox {
			padding-top: 16rem;
			padding-right: 11rem;
			@include breakpoint(tablet) {
				padding-top: 10rem;
				padding-right: 0rem;
			}
			@include breakpoint(mobile) {
				padding-top: 4rem;
			}
			.teaser__title {
				font-size: 2.2rem;
				@include breakpoint(tablet) {
					font-size: 1.6rem;
				}
				@include breakpoint(mobile) {
					font-size: 2.8rem;
				}
			}
		}
	}
	.slick-list {
		overflow: visible;
	}

	&__navigation {
		@extend .slider__navigation;
		@include breakpoint(tablet) {
			top: auto;
			bottom: 2.5rem;
			right: 3rem;
			@include breakpoint(mobile) {
				bottom: 3.5rem;
			}
		}
		.fontelloIcon {
			font-size: 1.8rem;
			color: $c-darkGrey; 
			@include breakpoint(mobile) {
				font-size: 2.8rem;
			}
		}
		.faqSlider__arrows {
			@extend .slider__arrows;
		}
	 		
		.faqSlider__slideInfo {
			@extend .slideInfo;
			
		}
		.faqSlideInfo-current {
			@extend .slideInfo-current;
		}
		.faq-next {
			@extend .btn-next;
		}
		.faq-prev {
			@extend .btn-prev;
			@include breakpoint(mobile) {
				margin-right: 1.5rem;
			}	
		}
	}
}