// //------------------------------
// //--------- PORTRAIT SLIDER
// //-----------------------------

// HP Slider with yellow border

.portraitSlider {
	position: relative;
	width: 66.4rem;
	margin-top: 11.5rem;
	margin-bottom: 0!important;
	border: 2.3rem solid $c-yellow;
	&:hover {
		.teaser__imgWrapper {
			top: 0!important;
		}
	}
	@include breakpoint(tablet) {
		width: 31.8rem;
		margin-top: 6rem;
		border: 1.2rem solid $c-yellow;
	}
	@include breakpoint(mobile) {
		width: 100%;
		border: 2.2rem solid $c-yellow;
	}
	.slideBloc {
		position: relative;
	}
	.teaser__imgWrapper {
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.6);
			z-index: 0;
		}
	}
	.teaser__introBox {
		position: absolute;
		top: 9.5rem;
		left: 6.3rem;
		width: 40%;
		@include breakpoint(tablet) {
			top: 3rem;
			left: 3rem;
		}
		@include breakpoint(mobile) {
			top: 5.5rem;
			left: 4.5rem;
		}
		.teaser__tag {
			margin-bottom: 2rem;
			font-family: $styleFont--airways;
			font-size: 3rem;
			color: $c-yellow;
			@include breakpoint(tablet) {
				font-size: 1.8rem;
			}
			@include breakpoint(mobile) {
				font-size: 5rem;
			}
		}
		.teaser__title {
			font-size: 2.8rem;
			color: $c-white;
			@include breakpoint(tablet) {
				margin-bottom: 5rem;
				font-size: 1.6rem;
			}
			@include breakpoint(mobile) {
				margin-top: 2rem;
				margin-bottom: 5rem;
				font-size: 3.6rem;
			}
		}
		.teaser__text {
			margin-bottom: 5rem;
			color: $c-white;
		}
		.btn {
			@include breakpoint(tablet) {
				padding: 1rem 1.3rem;
			}
			@include breakpoint(mobile) {
				font-size: 1.2rem;
			}
		}
	}
	.portraitSlider__navigation {
		@extend .slider__navigation;
		.portraitSlider__slideInfo {
			@extend .slideInfo;
			color: $c-white;
		}
		.portraitSlider__arrows {
			@extend .slider__arrows;
		}
		.portraitSlideInfo-current {
			@extend .slideInfo-current;
		}
		.fontelloIcon {
			font-size: 1.8rem;
			color: $c-white;
			@include breakpoint(mobile) {
				font-size: 2.8rem;
			}
		}
		.portrait-next {
			@extend .btn-next;
		}
		.portrait-prev {
			@extend .btn-prev;	
		}
	}
}