//- HP VIEWER

section.hpViewer
  .hpSlider
    .slideBloc
      img(src='images/hpviewslider/hpviewer33.jpg', alt='')
      .hpSlider__introBox
        span.introBox__date lorem ipsum
        span.introBox__tag Communication
        h2.introBox__title Maecenas velit nunc, ultricies fringilla
        h3.introBox__subtitle Etiam tincidunt diam et nisl
    .slideBloc
      img(src='images/hpviewslider/download (2).jpg', alt='')
      .hpSlider__introBox
        span.introBox__date lorem ipsum
        span.introBox__tag Communication
        h2.introBox__title Maecenas velit nunc, ultricies fringilla
        h3.introBox__subtitle Etiam tincidunt diam et nisl
    .slideBloc
      img(src='images/hpviewslider/download (3).jpg', alt='')
      .hpSlider__introBox
        span.introBox__date lorem ipsum
        span.introBox__tag Communication
        h2.introBox__title Maecenas velit nunc, ultricies fringilla
        h3.introBox__subtitle Etiam tincidunt diam et nisl
    .slideBloc
      img(src='images/hpviewslider/download (4).jpg', alt='')
      .hpSlider__introBox
        span.introBox__date lorem ipsum
        span.introBox__tag Communication
        h2.introBox__title Maecenas velit nunc, ultricies fringilla
        h3.introBox__subtitle Etiam tincidunt diam et nisl
  span.hpViewer__arrows.btn-prev
    i.fontelloIcon.left &#xe800;
  span.hpViewer__arrows.btn-next
    i.fontelloIcon.right &#xe801;
  .slideInfo
    span.slideInfo-current
    span.slideInfo-total