// //------------------------------
// //--------- TEASER FULL
// //-----------------------------

.teaserFull {
	width: 88%;
	height: auto;
	margin: 0 auto;
	float: none!important;
	margin-bottom: 0!important;
	background-color: $c-white;
	overflow: hidden;
	@include vendor-prefixes(box-shadow, -18px 23px 54px 6px rgba(64,64,64,0.65));
	.teaser__imgWrapper {
		float: right;
		width: 83.6rem;
		@include breakpoint(tablet) {
			width: 38.7rem;
		}
	}
	.teaser__introBox {
		display: inline-block;
		width: 25%;
		padding-top: 14.5rem;
		padding-left: 9rem;
		background-color: $c-white;
		@include breakpoint(tablet) {
			padding-left: 2rem;
			padding-top: 8rem;
		}
		.teaser__title {
			font-size: 2.8rem;
			line-height: 1.2;
			@include breakpoint(tablet) {
				font-size: 1.6rem;
			}
		}
	}
}