//---------------------------
//-------------TEASER PLAIN
//-------------------------

.teaserPlain {
	width: 32rem;
	@include breakpoint(tablet) {
		width: 15.3rem;
	}
	@include breakpoint(mobile) {
		width: 27.2rem;
	}
}