//---------------------------
//-------------TEASER RIGHT
//-------------------------

.teaserRight {
	.teaser__imgWrapper {
		width: 32rem;
		float: left;
		margin-right: 3rem;
		@include breakpoint(tablet) {
			width: 15.4rem;
			margin-right: 1.2rem;
		}
		@include breakpoint(mobile) {
			width: 27.2rem;
		}
	}
	.teaser__introBox {
		padding-top: 0;
		margin-right: 7rem;
		@include breakpoint(tablet) {
			margin-right: 1rem;
		}
	}
	
}