// //------------------------------
// //---------TEASER NARROW --BIG
// //-----------------------------

.teaserNarrow--big {
	width: 40.5rem;
	@include breakpoint(tablet) {
		width: 19.4rem;
	}
	@include breakpoint(mobile) {
		width: 34.4rem;
	}
}