// //------------------------------
// //---------TEASER WIDE
// //-----------------------------

.teaserWide {
	width: 57.8rem;
	@include breakpoint(tablet) {
		width: 27.6rem;
	}
	@include breakpoint(mobile) {
		width: 56rem;
	}
}