//---------------------------
//-------------TEASER RIGHT
//-------------------------

.teaserRight {
	.teaser__imgWrapper {
		width: 32rem;
		float: left;
		margin-right: 3rem;
	}
	.teaser__introBox {
		padding-top: 0;
		margin-right: 7rem;
	}
	
}