// //------------------------------
// //---------TEASER NARROW
// //-----------------------------

.teaserNarrow {
	width: 23rem;
	@include breakpoint(tablet) {
		width: 15.4rem;
	}
	@include breakpoint(mobile) {
		width: 20rem;
	}
}