// //------------------------------
// //--------- TEASER NARROW--WIDE
// //-----------------------------

.teaserNarrow--middle {
	width: 32rem;
	@include breakpoint(tablet) {
		width: 19.4rem;
	}
	@include breakpoint(mobile) {
		width: 27.2rem;
	}
}