//------------------------------
//---------------- TEST TEASER
//------------------------------

.testTeaser {
	position: relative;
	width: 100%;
	height: 44.1rem;
	margin-bottom: 33.5rem;
	padding-top: 9.7rem;
	background-image:url("/images/testBg.png");
	background-repeat: no-repeat;
	clear: both;

	.test {
		&__introBox {
			width: 20%;
			margin: 0 auto;
		}
		&__title {
			margin-bottom: 2.5rem;
			font-size: 3rem;
			text-transform: uppercase;
			.strong{
				font-size: 3.2rem;
			}
			.style {
				text-transform: initial;
			}
		}
		&__text {
			margin-bottom: 3rem;
			@extend .teaser__text;
			color: $c-black;
		}
		&__promo {
			position: absolute;
			bottom: -12rem;
			width: 33.33%;
			text-align: center;
			img {
				display: inline-block;
			}
			&:nth-of-type(2) {
				left: 2%;
				img {
					width: 30.7rem;
				}

			}
			&:nth-of-type(3) {
				left: 32%;
				img {
					width: 35.1rem;
				}

			}
			&:nth-of-type(4) {
				left: 65%;
				img {
					width: 36.2rem;
				}

			}
			.promo__title {
				margin-bottom: 1rem;
				font-family: $baseFont--Black;
				font-size: 2.2rem;
				text-transform: uppercase;
			}
			span {
				font-family: $baseFont;
				font-size: 1.4rem;	
			}
		}
	}
	
}