//- DIAPORAMA

.articleDiaporama
  .articleDiaporama__slider
    .slideBloc
      img(src='images/diaporama/diaporama5.jpeg', alt='')
    .slideBloc
      img(src='images/diaporama/diaporama2.jpg', alt='')
    .slideBloc
      img(src='images/diaporama/diaporama4.jpeg', alt='')
    .slideBloc
      img(src='images/diaporama/diaporama1.jpeg', alt='')
    .slideBloc
      img(src='images/diaporama/diaporama6.jpg', alt='')
    .slideBloc
      img(src='images/diaporama/diapoarma7.jpeg', alt='')
  .articleDiaporama__nav
    span.diaporama__arrows.diaporama-prev
      i.fontelloIcon.left &#xe800;
    .diaporama__thumbnails
      img.thumbNail(src='images/diaporama/diaporama5.jpeg', alt='')
      img.thumbNail(src='images/diaporama/diaporama2.jpg', alt='')
      img.thumbNail(src='images/diaporama/diaporama4.jpeg', alt='')
      img.thumbNail(src='images/diaporama/diaporama1.jpeg', alt='')
      img.thumbNail(src='images/diaporama/diaporama6.jpg', alt='')
      img.thumbNail(src='images/diaporama/diapoarma7.jpeg', alt='')
    span.diaporama__arrows.diaporama-next
      i.fontelloIcon.right &#xe801;
  a.btn(href='#') Slideshow