//- MOST READ SLIDER
section.mostRead
  .container
    h2.mostRead__title
      span.style les 
      | plus 
      br
      span.strong Lus
    .mostRead__slider
      .slideBloc
        img(src='images/mostread/mostread1.jpeg', alt='')
        h3.mostRead__slideBlock__title
          | Suscipit cras tristique integer, nibh dolores aliquam duis eu, velit iaculis praesent et
      .slideBloc
        img(src='images/mostread/mostread2.jpeg', alt='')
        h3.mostRead__slideBlock__title Tempor libero vitae enim rhoncus at, erat lorem vehicula vitae dolores porttitor
      .slideBloc
        img(src='images/mostread/mostread3.jpeg', alt='')
        h3.mostRead__slideBlock__title Lorem ipsum dolor sit amet
      .slideBloc
        img(src='images/mostread/mostread4.jpeg', alt='')
        h3.mostRead__slideBlock__title Lorem ipsum dolor sit amet
      .slideBloc
        img(src='images/mostread/mostread5.jpeg', alt='')
        h3.mostRead__slideBlock__title Lorem ipsum dolor sit amet
      .slideBloc
        img(src='images/mostread/mostread6.jpeg', alt='')
        h3.mostRead__slideBlock__title Nam zril populo probatus cu, lorem melius vidisse qui cu, necessitatibus
      .slideBloc
        img(src='images/mostread/mostread7.jpeg', alt='')
        h3.mostRead__slideBlock__title Pro putent commune adipisci in, et elitr laudem eos, tibique efficiantur te his
      .slideBloc
        img(src='images/mostread/mostread3.jpeg', alt='')
        h3.mostRead__slideBlock__title Lorem ipsum dolor sit amet
    span.mostRead__slider__arrows.mostread-prev
      i.fontelloIcon.left 
    span.mostRead__slider__arrows.mostread-next
      i.fontelloIcon.right 