//- TEAST TEASER
section.testTeaser
  .container
    .test__introBox
      h2.test__title
        span.strong
          | Quel vehicule 
          br
        span.style est falt 
        | pour vous?
      p.test__text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolor velit dolores vel, quod quos consequatur assumenda odit, maiores, perspiciatis omnis minima pariatur suscipit voluptatum molestias illum.
      a.btn(href='#') Commencer le test
    .test__promo
      img(src='images/carsTest1.png', alt='car1')
      h4.promo__title Kangooze
      span L'utilitaire autrament
    .test__promo
      img(src='images/carsTest2.png', alt='car2')
      h4.promo__title Traffic
      span L'utilitaire autrament
    .test__promo
      img(src='images/carsTest3.png', alt='car3')
      h4.promo__title Master fourgon
      span L'utilitaire autrament