//-------------------------
//----------- HEADER
//-------------------------

.header {
	padding: 2rem 0;
	z-index: 55;
	&-holder {
		height: 6.5rem;
		svg {
			width: 100%;
		}
		@include breakpoint(tablet) {
			height: 8.5rem;
		}
	}
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	height: 6.5rem;
	text-align: center;
	background-color: $c-black;
	@include breakpoint(tablet) {
		height: 8.5rem;
	}
	
	&__social {
		float: left;
		margin-left: 3rem;
		@include breakpoint(tablet) {
			display: none;
		}
		li {
			margin-right: 3rem;
		}
		.fontelloIcon {
			font-size: 1.8rem;
			color: $c-white;
		}
		.fontelloIcon.icon-youtube-play {
			position: relative;
			top: 0.2rem;
			font-size: 2rem;
		}
	}

	&__btnMenu {
		display: none;
		@include breakpoint(tablet) {
			display: block;
			float: left;
			margin-top: 1.3rem;
			margin-left: 4.2rem;
			cursor: pointer;
		}
		@include breakpoint(mobile) {
			margin-top: 1.4rem;
			margin-left: 3.5rem;
		}
		.openBtn {
			display: block;
		}
		.closeBtn {
		    position: relative;
			top: -0.3rem;
			display: none;
			width: 3rem;
		}
		img {
			width: 3.3rem;
		}
	}

	&__closeMenu {
		display: none;
	}

	&__logo {
		@include absolute(center);
		top: 6rem;
		@include breakpoint(tablet) {
			display: none;
		}
		img {
			width: 20.7rem;
		}
		&--tablet {
			display: none;
			@extend .header__logo;
			@include breakpoint(tablet) {
				display: block;
			}
			@include breakpoint(mobile) {
				display: none;
			}
			img {
				width: 27.7rem;
			}
		}
		&--mobile {
			display: none;
			top: 7.5rem;
			@extend .header__logo;
			@include breakpoint(mobile) {
				display: block
			}
			img {
				width: 23.7rem;
			}
		}
 	}
	&__search {
		position: absolute;
	    top: 2.5rem;
	    right: 4rem;
	    @include breakpoint(tablet) {
	    	top: 3rem;
	    	right: 3rem;
	    }
		img {
			display: inline-block;
			width: 1.6rem;
			@include breakpoint(tablet) {
				width: 3.3rem;
			}
			@include breakpoint(mobile) {
				width: 3rem;
			}
		}
	}
	@import "navigation";
}
