//---------------------------
//----------------- MAIN
//---------------------------

.mainContent {
	max-width: 1352px;
	width: 81%;
	margin: 0 auto;
	@include breakpoint(tablet) {
		max-width: auto;
		width: 100%;
	}
}