//- MEDIA WALL - floatRight

section.mediaWall.media--floatRight
  .container
    h2.mediaWall__title
      span.strong Vu 
      span.style
        | de la 
        br
      | astuces
    .mediaWall__column.column--left
      article.teaserNarrow--middle
        .teaser__imgWrapper
          img(src='images/teaserNarrow-middle.jpg', alt='')
          span.teaser__tag Lorem ipsum
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
      article.teaserPlain
        .teaser__imgWrapper
          img(src='images/teaserPlain1.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--right
      article.teaserWide
        .teaser__imgWrapper
          img(src='images/teaserWide.jpg', alt='')
          span.teaser__tag Ullam sed ut
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--left.second-level
      article.teaserPlain
        .teaser__imgWrapper
          img(src='images/teaserPlain2.jpg', alt='')
          span.teaser__tag Sequi tempore
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--right.second-level
      article.teaserNarrow--middle
        .teaser__imgWrapper
          img(src='images/teaserNarrow-middle.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!