//- MEDIA WALL - WIDE
section.mediaWall.media--wide
  .container
    .whiteSmoke-bg
      article.teaserFull
        .teaser__introBox
          h2.mediaWall__title
            | Fan 
            span.style de
            span.strong Vu
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
        .teaser__imgWrapper
          img(src='images/teaserFull.jpg', alt='')
    article.teaserPlain
      img(src='images/teaserPlain2.jpg', alt='')
      .teaser__introBox
        h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
        p.teaser__text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    article.teaserPlain
      img(src='images/teaserPlain3.jpg', alt='')
      .teaser__introBox
        h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
        p.teaser__text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    article.teaserPlain
      img(src='images/teaserPlain4.jpg', alt='')
      .teaser__introBox
        h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
        p.teaser__text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!