//- MEDIA WALL - STEPS

section.mediaWall.media--steps
  .container
    h2.mediaWall__title
      span.strong
        | News 
        br
      span.style de la 
      | Semaine
    .mediaWall__column.column--left
      article.teaserNarrow
        .teaser__imgWrapper
          img(src='images/teaserNarrow.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
      article.teaserNarrow--big
        .teaser__imgWrapper
          img(src='images/teaserNarrow-big.jpg', alt='')
          span.teaser__tag Tout sur le vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--right
      article.teaserWide
        .teaser__imgWrapper
          img(src='images/teaserWide.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title
            | Lorem ipsum dolor sit amet, consectetur adipisicing ad tempora quas, amet quam ullam culpa porro
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
      article.teaserRight
        .teaser__imgWrapper
          img(src='images/teaserPlain1.jpg', alt='')
          span.teaser__tag Cote business
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    a.btn(href='#') Plus de news