//- MEDIA WALL - business

section.mediaWall.media--business
  .container
    h2.mediaWall__title
      span.style
        | Côté
        br
      span.strong business
    .mediaWall__column.column--left
      article.teaserPlain
        .teaser__imgWrapper
          img(src='images/teaserPlain3.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
      article.teaserNarrow--middle
        .teaser__imgWrapper
          img(src='images/teaserMIddle22.jpeg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--right
      article.teaserNarrow--middle
        .teaser__imgWrapper
          img(src='images/teaserMiddle42.jpeg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
      article.teaserPlain
        .teaser__imgWrapper
          img(src='images/teaserPlain1.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--left.second-level
      article.teaserPlain
        .teaser__imgWrapper
          img(src='images/teaserPlain4.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
      article.teaserPlain
        .teaser__imgWrapper
          img(src='images/teaserPlain3.jpg', alt='')
          span.teaser__tag Fan de vu
        .teaser__introBox
          h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
          p.teaser__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
    .mediaWall__column.column--right
      article.portraitSlider
        .portraitSlider__wrapper
          .slideBloc
            .teaser__imgWrapper
              img(src='images/profileSlider.jpg', alt='')
            .teaser__introBox
              span.teaser__tag Portrait
              h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
              p.teaser__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
              a.btn(href='#') découvrir
          .slideBloc
            .teaser__imgWrapper
              img(src='images/profileSlider3.jpg', alt='')
            .teaser__introBox
              span.teaser__tag Fan de vu
              h3.teaser__title Sed nulla conclusione no, cu est expetendis sententiae
              p.teaser__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
              a.btn(href='#') découvrir
          .slideBloc
            .teaser__imgWrapper
              img(src='images/profileSlider7.jpg', alt='')
            .teaser__introBox
              span.teaser__tag Fan de vu
              h3.teaser__title Lorem ipsum dolor sit amet, consectetur adipisicing
              p.teaser__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sed ut, consectetur nisi qui autem. Sequi tempore beatae aspernatur obcaecati ad tempora quas, amet quam ullam culpa porro, consectetur, officiis!
              a.btn(href='#') découvrir
        .portraitSlider__navigation
          span.portraitSlider__arrows.portrait-prev
            i.fontelloIcon.left-dir &#xe802;
          .portraitSlider__slideInfo
            span.portraitSlideInfo-current
            span.portraitSlideInfo-total
          span.portraitSlider__arrows.portrait-next
            i.fontelloIcon.right-dir &#xe803;