//- MEDIA WALL - faq

section.mediaWall.media--faq
  .container
    h2.mediaWall__title
      | Foire 
      span.style aux
      br
      span.strong questions
    .whiteSmoke-bg
      .faqSlider
        .slideBloc
          .teaser__imgWrapper
            img(src='images/faqslider1.jpg', alt='')
          .teaser__introBox
            h3.teaser__title Lorem ipsum dolor sit amet
            p.teaser__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo saepe, aliquam fugit aliquid accusamus recusandae, aperiam quod? Delectus odit, impedit dolor. Debitis est at dignissimos alias minus magni, delectus quam.
        .slideBloc
          .teaser__imgWrapper
            img(src='images/faqslider2.jpg', alt='')
          .teaser__introBox
            h3.teaser__title Tempor nostro convenire ut vis
            p.teaser__text
              | Omnis impetus ut per, eius quidam per no. Id quod necessitatibus nam, pro ex wisi mundi partem, ad his quem modus. Vocent platonem adipiscing vel eu, vel quod appareat abhorreant at. Vis ad cibo detraxit, dicit omnes epicurei pro te.
        .slideBloc
          .teaser__imgWrapper
            img(src='images/faqslider3.jpg', alt='')
          .teaser__introBox
            h3.teaser__title  Quo te doctus facilisis, prima consectetuer vis no. Vix aliquip cotidieque et
            p.teaser__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo saepe, aliquam fugit aliquid accusamus recusandae, aperiam quod? Delectus odit, impedit dolor. Debitis est at dignissimos alias minus magni, delectus quam.
      .faqSlider__navigation
        span.faqSlider__arrows.faq-prev
          i.fontelloIcon.left-dir &#xe802;
        .faqSlider__slideInfo
          span.faqSlideInfo-current
          span.faqSlideInfo-total
        span.faqSlider__arrows.faq-next
          i.fontelloIcon.right-dir &#xe803;